<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>reports</title>
</head>
<body style="padding-left: 10px">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">FindingsAnalyzer</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="index.html">Dashboard</a></li>
            <li><a href="configurations.html">Configuration</a></li>
            <li><a href="#">Reports</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h3>Findings Dashboard</h3>
    <p>Alle Projekte einsehen können</p>
</div>
</body>
</html>