<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta name="description" content=""/>
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">FindingsAnalyzer</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="#">Findings</a></li>
                    <li><a href="configurations.html">Configuration</a></li>
                    <li><a href="reports.html">Reports</a></li>
                    <li><a th:href="@{/user}">User Informationen</a></li>
                    <li class="nav-item" th:if="${currentUser == null}"><a class="btn btn-light" role="button" th:href="@{/login}">Log in</a></li>
                    <li class="nav-item" th:if="${currentUser}">
                        <a class="nav-link" th:text="${fullName}"></a>
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="Sign Out"/>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
        <div style="margin-left: 25%" layout:fragment="content">
            <h1>Welcome to FindingsAnalyzer!</h1>

        <p>Please login to analyze and see the data!.</p>
        </div>
    </body>
</html>