<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/sw.js"></script>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <script type="text/javascript" src="/js/userInformation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>configuration</title>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/index}">FindingsAnalyzer</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a th:href="@{/index}">Findings</a></li>
                <li><a href="#">Configuration</a></li>
                <li><a th:href="@{/reports}">Reports</a></li>
                <li class="active"><a href="user.html">User Informationen</a></li>
                <li class="nav-item" th:if="${currentUser == null}"><a class="nav-link" th:href="@{/login}">Log in</a></li>
                <li><p style="margin-top: 15px; margin-right: 4px" th:if="${currentUser}" th:text="${currentUser.fullname}"></p></li>
                <li class="nav-item" th:if="${currentUser}">
                    <form th:action="@{/logout}" method="post">
                        <input style="margin-top: 7px" type="submit" class="btn btn-light" value="Log out"/>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    <script>
        $(document).ready(function() {
            $(function() {
                $('#datetimepicker6').datepicker({ format: 'dd.mm.yyyy' });
                $('#datetimepicker7').datepicker({
                    useCurrent: false,
                    format: 'dd.mm.yyyy'
                });
                $("#datetimepicker6").on("dp.change", function(e) {
                    $('#datetimepicker7').data("DatePicker");
                });
                $("#datetimepicker7").on("dp.change", function(e) {
                    $('#datetimepicker6').data("DatePicker");
                });
                //$('[data-toggle="tooltip"]').tooltip()
            });
        });
    </script>
</head>
<body style="padding-left: 10px">
    <h3>User informations</h3>
    <p>Findings-informations for users passed on git-commits</p>

    <div class="topPage">
        <div class="col-xs-2">
            <label for="userProjects">Project</label>
            <select id="userProjects" class="form-control" style="width:auto;">
                <option>alle</option>
            </select>
        </div>

        <div class='col-md-2'>
            <label for="startdate">Start Date</label>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker6'>
                    <input type='text' class="form-control" id="startdate"/>
                    <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                </div>
            </div>
        </div>
        <div class='col-md-2'>
            <label for="enddate">End Date</label>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker7'>
                    <input type='text' class="form-control" id="enddate"/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                        </span>
                </div>
            </div>
        </div>


        <div class="col-xs-2">
            <label></label>
            <button id="exportButton" class="form-control" onclick="loadUserInformation();">Search for user data</button>
        </div>

    </div>

    <div id="userContainer" style="margin-top: 30px">
    </div>
</body>
</html>